<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="format_sql">true</property>
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:DataBase.db</property>

        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>


        <mapping class="cmsteam2.common.domain.Recommendation"/>
        <mapping class="cmsteam2.common.domain.Review"/>
        <mapping class="cmsteam2.common.domain.Conference"/>
        <mapping class="cmsteam2.common.domain.Session"/>
        <mapping class="cmsteam2.common.domain.User"/>
        <mapping class="cmsteam2.common.domain.ResearchPaper"/>
        <mapping class="cmsteam2.common.domain.Participant"/>
        <mapping class="cmsteam2.common.domain.Reviewer"/>
        <mapping class="cmsteam2.common.domain.MetaData"/>
    </session-factory>
</hibernate-configuration>