td, th {
    vertical-align: middle;
    text-align:center;
}

.table-selectable tbody tr {
    cursor: pointer;
}

.table-selectable tbody tr:hover {
    background: #a4cbff;
}

.hidden-box,
.hidden-by-login,
.hidden-by-conference {
    display: none !important;
}

.hidden-box.shown {
    display: block !important;
}