td, th {
    vertical-align: middle;
    text-align:center;
}

.table-selectable tbody tr {
    cursor: pointer;
}

.table-selectable tbody tr:hover {
    background: #a4cbff;
}

.hidden-box,
.hidden-by-login-listener,
.hidden-by-login-author,
.hidden-by-login-member,
.hidden-by-login-chair,
.hidden-by-conference,
.hidden-by-logged-in {
    display: none !important;
}

.hidden-by-logged-in.shown,
.hidden-box.shown {
    display: block !important;
}